{% extends "template.html" %}

{% block index %}
<a href="./" class="active"><span class="las la-stream"></span><span>Introducción</span></a>
{% endblock %}

{%block condicional %}
<a href="./condicionales"><span class="las la-stream"></span><span>Condicionales</span></a>
{% endblock %}

{%block mientras %}
<a href="./mientras"><span class="las la-stream"></span><span>Mientras</span></a>
{% endblock %}

{% block para %}
<a href="./para"><span class="las la-stream"></span><span>Para</span></a>
{% endblock %}

{% block arreglos %}
<a href="./arreglos"><span class="las la-stream"></span><span>Arreglos</span></a>
{% endblock %}

{% block main %}
    <div class="main-content">
        <header>
            <h1>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Introducción
            </h1>
 
        </header>

        <main>
            <h2 style="text-align: center;">Introduccion a Algoritmos</h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque facilis blanditiis odit, veritatis fuga nulla nam doloribus animi minus fugiat qui reprehenderit facere voluptatum? Totam ullam adipisci repellat illo repellendus.
            Repellendus non molestiae quisquam consequuntur alias laborum voluptatibus praesentium eos eaque! Enim doloremque culpa, quae ipsa labore ducimus pariatur reprehenderit omnis. Non natus dolores dolorum aspernatur eveniet. Consequatur, cum rem!
            Voluptas dolorum et sunt rerum inventore sit rem ab voluptatem in iure dolorem expedita voluptate, repellat atque enim adipisci est, asperiores, ipsum beatae. Ipsa debitis eum temporibus optio obcaecati minus?
            Earum asperiores impedit dolores velit eligendi eos cupiditate inventore unde repellendus! A veniam optio dolorum aliquid aspernatur, modi beatae? Enim tempore dolore quos nobis sapiente voluptatem aperiam illo facilis sunt?
            Adipisci numquam qui dignissimos aliquam, culpa fugit harum consequuntur officiis reprehenderit. Labore architecto, doloremque ab quas autem delectus aspernatur placeat iusto quam quibusdam ipsa blanditiis animi illo, dolore quidem. Harum.
            Atque at deserunt sunt molestiae vero perspiciatis voluptatibus quia excepturi nesciunt ullam dolorem ducimus suscipit iure officia natus quis velit nostrum, culpa repudiandae. Iure adipisci quibusdam saepe, ullam esse officia!
            Non eum sequi, delectus voluptatem voluptatum quisquam ut. Quis assumenda iusto dolore sunt autem eaque dolores similique dignissimos, aperiam minus quidem tempore ullam neque quae veniam facilis, accusantium culpa. Consequuntur?
            Odio, saepe, voluptatem possimus illo alias a quod commodi numquam ipsam repellendus assumenda perspiciatis earum at vel error veritatis iusto. Rerum perferendis consequuntur, culpa repellendus ut distinctio possimus ipsam quo.
            Officia id enim ab similique molestiae accusamus architecto illo, nemo praesentium cupiditate magni eos, iusto exercitationem iure veniam provident maiores pariatur doloremque, necessitatibus assumenda voluptatum numquam atque! Facilis, recusandae nisi!
            Eligendi iure possimus sit sunt esse, cupiditate deserunt? Est cum, iusto nesciunt dolorum repellendus, tenetur doloribus expedita quaerat quod deserunt voluptate doloremque sunt reiciendis excepturi nam voluptatum repellat eaque non.
            Assumenda rerum unde recusandae dicta! In corporis maxime debitis earum aperiam nemo doloremque perspiciatis consequuntur fugiat maiores accusantium corrupti sint, unde aspernatur quos iure molestias veritatis recusandae eveniet. Quasi, ullam.
            Quis repellat, suscipit eveniet nulla optio doloremque incidunt quisquam hic nam laudantium laboriosam tenetur asperiores possimus odit totam reprehenderit! Ex molestiae laudantium assumenda enim? Laborum iusto dolore quisquam temporibus adipisci!
            Magnam quam iusto quis nam dignissimos sequi facilis, porro ducimus repudiandae accusamus a adipisci veniam incidunt assumenda inventore nesciunt officiis tenetur. Commodi iure voluptatem laboriosam placeat quas labore aspernatur molestias!
            Perspiciatis ipsam non quia repellat, suscipit iure vel assumenda, velit delectus ut facilis maiores dolores pariatur in necessitatibus eaque ratione praesentium quam. Facere pariatur, impedit eveniet accusantium aliquam saepe repellendus!
            Voluptatum minus inventore repudiandae eius eaque ratione ipsa veniam optio libero amet placeat similique, qui consectetur reprehenderit odit sapiente molestiae eos aperiam cupiditate fugiat ipsam? Ad voluptatem asperiores sapiente tenetur?
            Molestias mollitia necessitatibus dolorum odit maiores ut provident totam voluptatem commodi animi at vitae, tempore explicabo ad dolore ratione alias corporis nisi, delectus officia facere repellat fugit! Veniam, officia ullam!
            Doloremque suscipit, est quam qui non quo veniam illum, autem magnam aliquam dolorum pariatur. Sequi, suscipit eaque? Sit nihil ex cupiditate velit sapiente officiis? Illum adipisci sed voluptas ex aliquid!
            Eos minima, laudantium aut at qui quo tenetur earum harum voluptatibus, provident repellendus! Reiciendis rerum saepe numquam deleniti accusantium veniam labore dolorem iste, harum dicta iure aspernatur, quibusdam architecto quaerat.
            Tempore iusto harum ipsum molestias labore porro ratione nihil, numquam, non mollitia neque iste cumque id eveniet blanditiis. Provident consectetur perferendis rem possimus! Iste cupiditate velit illo vero quaerat reprehenderit?
            Cupiditate quo molestiae exercitationem. Nobis aperiam perferendis voluptatem. Repudiandae cum saepe tenetur ipsam sapiente fugiat eligendi laborum quibusdam vitae iusto ipsa dolorum, sed at excepturi accusamus. Repellendus soluta itaque tempore!</p>

            <pre>
            <code class="language-cpp">
#include &lt;iostream&gt;
using namespace std;
                                
int main() 
{
    int num;
                                
    cout << "Ingrese un numero: " << endl;
    cin >> num;
                                
    if (num == 0) {
        cout << "El numero que ingresaste es 0" << endl;
    } else if (num > 0) {
        cout << "El numero que ingresaste es positivo" << endl;
    } else { 
        cout << "El número que ingresaste es negativo" << endl;
    }
}   
            </code>
            </pre>

        </main>
    </div>
{% endblock main %}
